body{
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
}
.input-bar {
	background: white;
	border: none;
	border-radius: 25px;
	outline: none;
	font-size: 18px;
	height: 50px;
	padding: 0 25px;
}
.shadow {
	box-shadow: 0 15px 60px 0 rgba(42,44,58,.15), 7px 15px 22px 0 rgba(129,165,238,.1);
}





.plus {
	position: absolute;
	left: 20px;
	bottom: 10px;
	border-radius: 50%;
	box-sizing: border-box;
	width: 54px;
	height: 54px;
	border: 18px solid #4527a0;
	background: #7e57c2;
	/*color: white;*/
	/*font-size: 52px;*/
	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: center;*/
}
panel {
	display: block;
	box-sizing: border-box;
	height: 100%;
	box-shadow: 0 15px 60px 0 rgba(42,44,58,.15), 7px 15px 22px 0 rgba(129,165,238,.1);
}
header {
	/*display: flex;*/
	/*justify-content: space-between;*/
	box-sizing: border-box;
	border: solid 6px transparent;
	padding: 18px;
	font-size: 22px;
}
panel.small > div {
	display: none;
}
panel.small.main {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
panel.small.main > header {
	width: 150px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}
panel.link {
	height: auto;
	border-radius: 38px;
}
panel.link > header {
	border-radius: 38px;
	padding: 12px;
	font-size: 16px;
	text-align: center;
}
panel.link > div {
	display: none;
}
panel > div {
	box-sizing: border-box;
	overflow-y: auto;
	/*transition: width .5, height .5;*/
}
panel.contain {
	display: flex;
	flex-direction: column;
}
panel.contain > div {
	flex: 1;
	padding: 0 24px 24px;
}
panel.cover > header {
	position: absolute;
	z-index: 1;
	width: 100%;
}
panel.cover > div {
	position: relative;
	z-index: 0;
	height: 100%;
}

ul {
	list-style: disc outside none;
	margin: 0;
}
li {
	line-height: 25px;
}



panel {
	transition: filter .5s, opacity .5s;
}
.backdrop {
	/*filter: blur(5px);*/
	opacity: .3;
}
