body{
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
}

.shadow {
	box-shadow: 0 15px 60px 0 rgba(42,44,58,.15), 7px 15px 22px 0 rgba(129,165,238,.1);
}

.autosuggest {
	border-radius: 25px;
	transition: border-radius 270ms;
}
.autosuggest.open {
	border-radius: 4px;
}
.autosuggest > input {
	background: white;
	border: none;
	outline: none;
	font-size: 18px;
	padding: 0 25px;
}
.autosuggest > .content {
	border-top: solid 1px #ddd;
	background: white;
}
.autosuggest .item {
	padding: 16px 25px;
}
.autosuggest .item > span {
	opacity: .6;
}
.autosuggest .item.selected {
	background: #ddd;
}

.layer {
	background: #181111;
}

.panel {
	border-radius: 4px;
	background: #311b92;
}
.panel > .header {
	/*box-sizing: border-box;*/
	border: solid 7px transparent;
	padding: 18px;
	font-size: 22px;
	color: white;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.panel > .content {
	box-sizing: border-box;
	overflow-y: auto;
	color: white;
}
.panel.raw > .content {
	padding: 25px;
	padding-top: 0;
}
/*.panel.contain {*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*}*/
/*panel.contain > div {*/
/*	flex: 1;*/
/*	padding: 0 24px 24px;*/
/*}*/
/*panel.cover > header {*/
/*	position: absolute;*/
/*	z-index: 1;*/
/*	width: 100%;*/
/*}*/
/*panel.cover > div {*/
/*	position: relative;*/
/*	z-index: 0;*/
/*	height: 100%;*/
/*}*/



/*panel.link > div {*/
/*	display: none;*/
/*}*/
/*panel.link.main {*/
/*	width: 150px;*/
/*	height: 150px;*/
/*	border-radius: 50%;*/
/*}*/
/*panel.link.main > header {*/
/*	width: 150px;*/
/*	height: 150px;*/
/*	display: flex;*/
/*	align-items: center;*/
/*	justify-content: center;*/
/*	text-transform: uppercase;*/
/*}*/


/*panel.hint {*/
/*	height: auto;*/
/*	border-radius: 38px;*/
/*}*/
/*panel.hint > header {*/
/*	border-radius: 38px;*/
/*	padding: 12px;*/
/*	font-size: 16px;*/
/*	text-align: center;*/
/*}*/
/*panel.hint > div {*/
/*	display: none;*/
/*}*/



/*ul {*/
/*	list-style: disc outside none;*/
/*	margin: 0;*/
/*}*/
/*li {*/
/*	line-height: 25px;*/
/*}*/


/*panel {*/
/*	transition: filter .5s, opacity .5s;*/
/*}*/
/*.backdrop {*/
	/*filter: blur(5px);*/
/*	opacity: .3;*/
/*}*/
